.ampHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.ampHeader h1{
  margin-top: 0;
}

.options-button button {
  background-color: white;
  cursor: pointer;
  color: #c65e31;
  padding: 8px 16px;
  border: solid #c65e31;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bolder;
}

.options-button button:hover {
  background-color: #c65e31;
  color: white;
}
