.footer-container {
    background-color: #262626;
    color: #fff;
    padding: 20px;
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
  }

  .footer-content p {
    margin: 5px;
  }

  .footer-content a {
    color: white;
    text-decoration: none;
  }

  .footer-container a:hover{
    text-decoration: underline;
  }
