/* UserList.css */

/* Container for UserList */
.user-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #c65e31; /* Set the background color for the container */
    min-height: 75vh;
  }

  .usersH2 {
    background-color: #c65e31;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
  }

  /* Individual User card */
  .user-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: white; /* Set the background color for the cards */
    color: black; /* Set the text color */
    border: 2px solid black; /* Add black border to the cards */
    cursor: pointer;
    /* max-height: 15vh; */
    overflow: hidden; /* Hide any overflow content */
    transition: max-height 0.3s ease; /* Add transition effect */
  }

  /* Styling for the user details within the card */
  .user-card h3,
  .user-card p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
  }

  /* Add hover effect */
  .user-card:hover {
    background-color: black;
    color: white;
    border: 2px solid #c65e31;
    /* max-height: 30vh; Expand the card on hover */
  }

  /* Additional Styles */

  .user-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  /* Adjust modal buttons */
  .user-buttons button {
    padding: 10px 20px;
    text-align: center;
  }

  .user-details {
    /* max-height: 150px; Remove the fixed max-height for dynamic expansion */
    list-style: none;
    padding-left: 0;
    overflow: hidden; /* Hide any overflow content */
    transition: max-height 0.3s ease; /* Add transition effect for dynamic expansion */
  }

  /* Styling for the subscriptions and purchase history lists */
  .user-details ul {
    padding-left: 20px;
    margin: 5px 0;
    list-style: none;
  }
